/* GLOBALS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    /* position: relative; */
}

/* img {
    display: block;
    max-width: 100%;
    max-height: 100%;
} */

/* Drum Machine Visuals */
h1{
    font-size: 2rem;
}


h3{
    color:aliceblue;
    text-align: center;
    text-shadow: 
        1px 1px 2px rgb(0, 255, 242), 
        0 0 1em blue, 0 0 0.2em blue;
}

.drum__bottom__name{
    transform:rotateY(180deg);
    transform:rotateY(180deg);
    transform:rotateY(180deg);
    transform:rotateY(180deg);
    unicode-bidi:bidi-override;
    direction:rtl;
}

.drum__main{
    /* border: 1px solid #86418C; */
    background-color: #1F1F1F;
    border-radius: 5px;
    min-height: 300px;
    margin: 5px;
    max-height: 100%;
    max-width: 700px;
    padding: 5px;
    width: 100%;
}

.drum__name{
    margin: 0;
}

.drum__main__buttons{
    border: 2px solid #f0f8ff;
    border-radius: 2%;
    column-gap: 1%;
    display:grid;
    height: 75%;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 48% 48%;
    justify-content: space-around;
    margin: 1%;
    padding: 1%;
    row-gap: 10px;
}

.drum__btn{
    background-color: #1F1F1F;
    border-left: 1px solid #3D488D;   
    border-top: 1px solid #3D488D;
    border-right: 1px solid #1f233b;
    border-bottom: 1px solid #1f233b;
    border-radius: 5%;
}
.drum__btn:hover{
    cursor: pointer;
}

.drum__btn h1{
    display: none;
}

/* BUTTONS ON HOVER */

.drum__btn__01:hover h1{
    color: #ffed4f7a;
    display:block;
}


.drum__btn__02:hover h1{
    color: #fff59d93;
    display:block;
}

.drum__btn__03:hover h1{
    color: #13ffc081;
    display:block;
}

.drum__btn__04:hover h1{
    color: #a1ffe681;
    display:block;
}

.drum__btn__05:hover h1{
    color: #ff306086;
    display:block;
}

.drum__btn__06:hover h1{
    color: #ff8ca785;
    display:block;
}

.drum__btn__07:hover h1{
    color: #c281d986;
    display:block;
}

.drum__btn__08:hover h1{
    color: #cd9ae180;
    display:block;
}

/* BUTTONS ON CLICK */

.drum__btn:active h1{
    opacity: 25%;
}

/* .drum__btn:active{
    box-shadow: 5px 10px white;
} */

.drum__btn__01:active{
    border: 2px solid #ffed4f;
}

.drum__btn__02:active{
    border: 2px solid #fff59d;
}

.drum__btn__03:active{
    border: 2px solid #13ffc1;
}

.drum__btn__04:active{
    border: 2px solid #a1ffe6;
}

.drum__btn__05:active{
    border: 2px solid #ff305f;
}

.drum__btn__06:active{
    border: 2px solid #ff8ca6;
}

.drum__btn__07:active{
    border: 2px solid #c081d9;
}

.drum__btn__08:active{
    border: 2px solid #cd9ae1;
}

.drum__button__name{
    margin: 0;
}

@media (min-width: 400px){
    .drum__main{
        height: 400px;
    }
}

@media (min-width: 500px){
    .drum__main{
        height: 500px;
    }
}

@media (min-width: 600px){
    .drum__main{
        height: 600px;
    }
}

@media (min-width: 700px){
    .drum__main{
        max-height: 700px;
    }
}

