/* GLOBALS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color:#cecece;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

/* Drum Machine Visuals */

h3{
    color:aliceblue;
    text-align: center;
    text-shadow: 
        1px 1px 2px rgb(0, 255, 242), 
        0 0 1em blue, 0 0 0.2em blue;
}

.drum__bottom__name{
    transform:rotateY(180deg);
    unicode-bidi:bidi-override;
    direction:rtl;
}

.drum__main{
    background-color: #1F1F1F;
    border-radius: 5px;
    min-height: 300px;
    margin: 5px;
    max-height: 100%;
    max-width: 700px;
    padding: 5px;
    width: 100%;
}

.drum__name{
    margin: 0;
}

.drum__main__buttons{
    border: 2px solid #f0f8ff;
    border-radius: 2%;
    column-gap: 1%;
    display:grid;
    height: 75%;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 48% 48%;
    justify-content: space-around;
    margin: 1%;
    padding: 5% 1%;
    row-gap: 10px;
}

.drum__btn{
    background-color: #1F1F1F;
    border-left: 1px solid #3D488D;   
    border-top: 1px solid #3D488D;
    border-right: 1px solid #1f233b;
    border-bottom: 1px solid #1f233b;
    border-radius: 5%;
}

.drum__btn{
    font-size: 2rem;
    font-weight: bold;
}

.drum__btn__01{
    color: #ffed4f7a;
}

.drum__btn__02{
    color: #fff59d93;
}

.drum__btn__03{
    color: #13ffc081;
}

.drum__btn__04{
    color: #a1ffe681;
}

.drum__btn__05{
    color: #ff306086;
}

.drum__btn__06{
    color: #ff8ca785;
}

.drum__btn__07{
    color: #c281d986;
}

.drum__btn__08{
    color: #cd9ae180;
}

.drum__button__name{
    margin: 0;
}

.animation_a{
    border: 2px solid #ffed4f;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 25%);
    transform: scale(1.1);
}

.animation_s{
    border: 2px solid #fff59d;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 25%);
    transform: scale(1.1);
}

.animation_d{
    border: 2px solid #13ffc1;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 25%);
    transform: scale(1.1);
}

.animation_f{
    border: 2px solid #a1ffe6;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 25%);
    transform: scale(1.1);
}

.animation_h{
    border: 2px solid #ff305f;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 25%);
    transform: scale(1.1);
}

.animation_j{
    border: 2px solid #ff8ca6;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 25%);
    transform: scale(1.1);
}

.animation_k{
    border: 2px solid #c081d9;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 25%);
    transform: scale(1.1);
}

.animation_l{
    border: 2px solid #cd9ae1;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 25%);
    transform: scale(1.1);
}

/* MEDIA */

@media (min-width: 400px){
    .drum__main{
        height: 400px;
    }
}

@media (min-width: 500px){
    .drum__main{
        height: 500px;
    }
}

@media (min-width: 600px){
    .drum__main{
        height: 600px;
    }
}

@media (min-width: 700px){
    .drum__main{
        max-height: 700px;
    }
}
